- content_for :title do
  About
.def-neat-grid
  %h3 About Charles (Trey) Anesi
  %p
    Hello and thanks for stopping by!
    I chose to build this site as a simple demonstration of some of the base items in development I can perform, in this instance, within a RoR stack.
    I am originally from Central Illinois/North Central Illinois in the town of Kankakee.  A small river town just south of I-80 in a rural community.
    I grew up enjoying the outdoors, fishing, camping, hunting, etc, with occaisional trips out to Colorado in the winter to ski.
    I have always loved Colorado and felt a pull to this area since I was a child on ski vacations with my parents.
    My father was career Army, so we typically took vacations to colder locations such as the Rocky Mountain region (After Vietnam, he said he had enough warm weather!).
    After moving to the area several years ago, I discovered there may be a reason for my pull to this area, as my family's first roots in the new country from Italy
    were in fact as miners in Leadville!

  %p
    During the recession I worked several contract based roles until my last position with the startup Sportsshares/Suitehop.  I would prefer to continue
    in this manner, or as a contract-to-hire.  I also have my own LLC, AnTrey Media for which I assist other small businesses.  I have always had a fascination with technology,
    computers, and electronics, tearing apart various items within my parents home, and re-assembling them (To my their horror I am sure!).  This also has drawn on a desire
    and upbringing to help and assist others.
  %p
    %b If you have the ability, you have the responsbility.
    %b This fascination for how things work, the chance to improve, help others, or make something from scratch and learn more, is what drives me in my field today.

  %p
    So thanks for stopping by, and please reach out if you have any questions!
  %p
    Charles (Trey) E Anesi III
  %p
    %a{:href => 'https://github.com/Reloaded356/antreymedia-dev/wiki/Trey-Anesi:-RoR-Resume-%5BTODO-and-DONE-*Not-a-Wiki%5D', :target => '_blank'} Github Site Feature 'Wiki'
