.def-neat-grid
  - content_for :title do
    Education
  %h3 Education
  %ul
    %li
      %p
        DePaul University, Chicago, Illinois
      %p
        Master of Science in Computer Science: Graphics and Motion Program, 2010
    %li
      %p
        UC San Diego, San Diego, CA
      %p
        UX Certificate (Anticipated 2017 – Remote Student)
    %li
      %p
        Sound Masters Institute, Los Angeles, California
      %p
        Certification in Audio Engineering & Post Production, 2006
    %li
      %p
        University of Dayton, Dayton, Ohio
      %p
        Bachelor of Arts in Communications: Electronic Media, 2005
