.def-neat-grid
  .h2.work Work Experience
  .main-slider
    = render 'layouts/main_slider'
-# :javascript
-#   function reloadOnce(){
-#     for (var i = 0; i < 1; i++) {
-#       console.log("reload ran");
-#       window.location.reload();
-#       return;
-#     }
-#   };
-#   reloadOnce;
