@import "neat";

.def-neat-grid {
  @include grid-container;
  width: 800px;
}

.def-neat-grid-single-col {
  @include grid-column(1);
}

.work {
  text-align: center;
}

.education-header {
  text-align: center;
}

.education-container {
  
}

.main-slider {
  color: green;
  border: 1px solid yellow;
}
