@import "neat", "vars";

.def-neat-grid {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include grid-media($mobile) {
    width: 275px;
  }
}

main {
  @include grid-media($mobile) {
    width: 100%;
  }
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include grid-media($mobile) {
    width: 375px;
  }
}

ul.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: inherit;
}


ul.nav > li {
  display: inline-block;
  border: 2px solid black;
  width: 8em;
  margin-top: 1em;
  margin-left: 1em;
  height: 3em;
  @include grid-media($mobile) {
    width: 6em;
    padding-left: 23px;
  }
}


.def-neat-grid-single-col {
  @include grid-column(1);
}

.main-nav {
  display: table;
  text-align: center;
  float: right;
  padding-right: 22%;
  @include grid-media($mobile) {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 0;
  }
}

.work {
  text-align: center;
}

.education-header {
  text-align: center;
}

.education-container {

}

.left-head {
  display: inline-block;
  padding: 1.5em 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  @include grid-media($mobile) {

  }
}

.right-head {
  display: inline-block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 1.5em 2em;
  @include grid-media($mobile) {

  }
}

.main-slider {

}
