@import "neat", "vars";

.def-neat-grid {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include grid-media($mobile) {
    width: 275px;
  }
}

main {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include grid-media($mobile) {
    width: 375px;
  }
}

li {
  display: inline-flex;
  border: 2px solid black;
  width: 8em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  height: 3em;
  padding-top: .8em;
  @include grid-media($mobile) {
    width: 6em;
    padding-left: 23px;
  }
}

.def-neat-grid-single-col {
  @include grid-column(1);
}

.main-nav {
  text-align: center;
  float: right;
  padding-right: 22%;
  @include grid-media($mobile) {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 0;
  }
}

.work {
  text-align: center;
}

.education-header {
  text-align: center;
}

.education-container {

}

.left-head {
  display: inline-block;
  padding: 1em 2em;
  @include grid-media($mobile) {

  }
}

.right-head {
  display: inline-block;
  float: right;
  padding: 1em 2em;
  @include grid-media($mobile) {

  }
}

.main-slider {
  color: green;
  border: 1px solid yellow;
}
