#slider-container.slider-container
  #slider-outer.slider-outer.clearfix
    .slide.clearfix
      .slide-thumb
        %img{:src => "https://s-media-cache-ak0.pinimg.com/originals/71/9f/10/719f10c0cac8a0316ca79f2f5e0313ca.jpg"}/
        .overlay
      .slide-details
        .header
          %h2 Sportsshares / Suitehop
        %p Vanilla Javascript development creating and integrating site-wide components such as: Modals, Loading Blockers, Tooltips, and more within a startup environment. Tech Stack Used: - Ruby on Rails - Postgres - Sass - Haml - Coffeescript - Vanilla JS - JQuery - Photoshop - Adobe XD
        %a{ :href => 'https://www.suitehop.com/'}
          %button Suitehop
    .slide.clearfix
      .slide-thumb
        %img{:src => "http://www.gdrne.com/wp-content/uploads/2016/11/new_2.jpg"}/
        .overlay
      .slide-details
        .header
          %h2
            Morris Animal Foundation
            %span.top
            %span.bottom
            %span.left-border
        %p System Administrator Duties: Running a linux system with a PLESK interface.  Scheduling, and performing server wide backups, installing new SSL certificates, managing PHP settings, backing up MySQL databases, performing SQL queries on MySQL Databases, performing data recovery, managing DNS records, site registrar settings, API connections, assisting with setting up mail services for employees, and more.
        %p Web Development: Developing new pages, layouts, and functionality based on design and requests from marketing.  Creating these new pages and functionality with the same font, images, and SEO optimization set by our designer as well as creating link trackable social media URLs.  Using Javascript, PHP, MySQL, and jQuery to complete the necessary front and back-end coding requirements for new functionality.
        %a{ :href => 'http://www.morrisanimalfoundation.org/'}
          %button MAF
    .slide.clearfix
      .slide-thumb
        %img{:src => "https://www.usnews.com/dims4/USNEWS/15822c1/2147483647/thumbnail/970x647/quality/85/?url=%2Fcmsmedia%2F68%2F8d%2Fcac5d9b64e5d85ba64ddff12d8c6%2F150804-aed-stock.jpg"}/
        .overlay
      .slide-details
        .header
          %h2
            ZOLL
            %span.top
            %span.bottom
            %span.left-border
        %p Working within the ZOLL Online team I had been primarily helping with the transition of their current front end site over to Bootstrap 3.  I had also been helping improve their code base by removing redundant code, while also assisting other teams in their development, as well as resolving any defects within the  backlog.   This had me working with MVC 4, CSS3, Javascript,  jQuery, and our various connected databases within an Asp.Net MVC framework.
        %a{ :href => 'http://www.zoll.com/'}
          %button ZOLL
    .slide.clearfix
      .slide-thumb
        %img{:src => "http://cdn.fansided.com/wp-content/blogs.dir/319/files/2016/08/swtor-1.jpeg"}/
        .overlay
      .slide-details
        .header
          %h2
            Bioware
            %span.top
            %span.bottom
            %span.left-border
        %p Core Technologies: Windows, DevTrack, DevTest, Hansoft, HeroEngine, Perforce, MS Excel, XML
        %p Performed QA analysis on tools to identify and debug various issues within our game engine building components. Liaised with team members to assess and ensure feasibility of new functionality requests. Entered technical write-ups in project management and QA software. Tracked development progress to ensure functionality of final product aligned with write-up specifications. Trained and mentored new hires.
        %p Credited on “Star Wars The Old Republic” as an Embedded Tools QA Analyst
        %a{ :href => 'http://www.bioware.com/en/'}
          %button Bioware
    .slide.clearfix
      .slide-thumb
        %img{:src => "https://lh3.googleusercontent.com/-TbmLmlXiaAg/Vmmp4MlddvI/AAAAAAAAC2U/nuKJsqKE2OA/w2000-h1126/americaneagle.com.holiday.lights.jpg"}/
        .overlay
      .slide-details
        .header
          %h2
            Americaneagle.com
            %span.top
            %span.bottom
            %span.left-border
        %p Core Technologies: Windows, MS Studio, Adobe Photoshop, Adobe Flash, MS Office (Word, Outlook, Excel), XML, HTML, CSS, JavaScript, SQL, ASP.NET, C#, ActionScript, Visual Basic
        %p Performed design, development and enhancement of interactive content for dynamic Web sites within their sports division.
        %p At the time we were the primary development firm for the NFL.  We also developed for the NHL, Nascar, NCAA and many more.
        %a{ :href => 'https://www.americaneagle.com/'}
        %button Americaneagle.com
  .slide-controls
    .left ‹
    .right ›
